<h1>課題一覧</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '課題を追加', new_issue_path %>
