<div class="container center-block">
<h1>migacode</h1>
<h2>課題一覧</h2>
<%= link_to '課題を追加', new_issue_path, { :class => "btn btn-primary" } %>
<div class="issues-list">
<table class="table table-striped">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>返信数</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.author %></td>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.replies.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
