.container {
  max-width: 800px;
  margin-top:40px;
  margin-bottom:60px;
}

input { 
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  margin-top:10px;
}

.issue {
  border-bottom: 4px solid #000000;
}

.reply{
  margin-bottom: 20px;
  border-bottom: 2px solid #777777;
}
